:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body,
.container {
    display: flex;
    justify-content: center;
    align-items: center
}

body {
    background-color: var(--light-green);
    height: 100vh;
}

.container {
    background: var(--snow);
    flex-direction: column;
    border-radius: 10px;
    padding: 3em;
    min-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

p {
    font-size: 45px;
}

p span {
    opacity: 0;
}

button {
    padding: 1em 2em;
    border: none;
    font-size: 1.2rem;
    background-color: var(--bright-red);
    color: var(--snow);
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    cursor: pointer;
    background-color: var(--wine-red);
}

.christmassified {
    font-family: 'Mountains of Christmas', cursive;
    color: #D42D2F;
}

.christmassified span {
    opacity: 1;
}